@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@font-face {
    font-family: 'Pluto Cond';
    src        : url('PlutoCondRegular.woff2') format('woff2'),
        url('PlutoCondRegular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
}

.search {
    border-radius: 40px;
    height       : 32px;
    background   : #F7D9D6;
}

.content-title-banner-products h4 {
    font-family: 'Patrick Hand', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color      : #05325f;
    font-weight: bolder;
}

.content-title-banner-products h2 {
    font-family: 'Patrick Hand', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color      : #05325f;
    font-weight: bolder;
}

.title-products {
    font-size: 19px;
}

.btn-danger-reset {
    font-size   : 15px;
    position    : absolute;
    top         : 35px;
    right       : 30px;
    background  : #ba3d6b;
    border-color: #ba3d6b;
    box-shadow  : 0 .5rem 1rem rgba(0, 0, 0, .1) !important;

}

.btn-danger-reset:hover {
    color           : #fff;
    background-color: #a53b62 !important;
    border-color    : #a53b62 !important;
}

.alert-success {
    color           : #fff;
    border-color    : #4fd69c;
    background-color: #4fd69c;
}

.img-card-product {
    border-radius: 15px;
    max-height   : 210px;
    max-width    : 100%;
}

.slider {
    color: #bf3d6b;
}

.price-old {
    font-size    : 18px;
    margin-bottom: 0px;
    color        : #002a53;
}

.price-new {
    font-size  : 30px;
    line-height: 18px;
    color      : #002a53;
}

.ribbon-text {
    color        : white;
    margin-bottom: 0px;
    font-size    : 16px;
    font-weight  : bold;
}

.cart-icon {
    width : 38px;
    margin: 0px 12px;
}

.account {
    color: #dc467b !important;
}

@media only screen and (min-width: 1300px) {
    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media (min-width: 980px) and (max-width: 1299px) {
    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn-danger-reset {
        top      : 20px;
        right    : 24px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 811px) and (max-width: 979px) {
    .img-card-product {
        max-height: 170px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
    .img-card-product {
        max-height: 170px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
    .img-card-product {
        max-height: 170px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 560px) {
    .img-card-product {
        max-height: 170px;
    }

    .slider {
        margin-top: 15px;
        font-size : 50px;
    }
}

@media only screen and (max-width: 440px) {
    .btn-danger-reset {
        font-size: 13px;
        position : absolute;
        top      : 26px;
        right    : 26px;
    }
}

@media only screen and (min-width: 315px) and (max-width: 420px) {
    .img-card-product {
        max-height: 170px;
    }
}

.ribbon-wrapper.ribbon-lg {
    height: 50px;
    width : 76px;
}

.ribbon-wrapper {
    height  : 70px;
    overflow: hidden;
    position: absolute;
    left    : 29px;
    top     : -2px;
    width   : 70px;
    z-index : 10;
}

.ribbon-wrapper.ribbon-lg .ribbon {
    left : 5px;
    top  : 8px;
    width: 50px;
}

.ribbon-wrapper .ribbon {
    box-shadow    : 0 0 3px rgba(0, 0, 0, .3);
    font-size     : .8rem;
    line-height   : 100%;
    padding       : .375rem 0;
    position      : relative;
    left          : -2px;
    text-align    : center;
    text-shadow   : 0 -1px 0 rgba(0, 0, 0, .4);
    text-transform: uppercase;
    top           : 10px;
    width         : 90px;
}

@media (max-width: 400px) {
    .card-products-discount {
        right: 19px !important;
    }
}

.sizes span {
    min-width: 40px;
    height   : 37px;
    display  : flex;
    border   : 1px solid #e6e6e6;
    cursor   : pointer;
    padding  : 0px 6px;
}

.sizes span p {
    color: black;
}

.sizes {
    margin: 10px 5px 5px 5px;
}

.shadow-reset {
    box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .10) !important;
    border-radius: 14px;
}

.container-sizes {
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex      : 0 0 auto;
    flex          : 0 0 auto;
    -ms-flex-flow : row wrap;
    flex-flow     : row wrap;
    -ms-flex-align: center;
    align-items   : center;
    margin-bottom : 0;
}

.sizes:hover {
    background: #ba3d6b;
    color     : white;
}

.sizes:hover span p {
    color: white;
}

.sizes.active span p {
    color: white;
}

.sizes.active {
    background: #ba3d6b;
    color     : white;
}

.alert {
    position     : relative;
    margin-bottom: 1rem;
    padding      : 1rem 1.5rem;
    border       : 1px solid transparent;
    border-radius: .375rem;
}

.alert-danger {
    color           : #fff;
    border-color    : #f75676;
    background-color: #f75676;
}

.alert-warning {
    color           : #fff;
    border-color    : #fc7c5f;
    background-color: #fc7c5f;
}

.alert-info {
    color           : #fff;
    border-color    : #37d5f2;
    background-color: #37d5f2;
}

.bg-page-principal {
    background: #CE135A;
}

.logo-send {
    width : 23px;
    margin: 0px 6px;
}

.content-headers {
    max-width: 480px;
}

.breadcrumb-reset {
    display   : flex;
    list-style: none;
    padding   : 15px;
}

.breadcrumb-reset li {
    margin-right: 4px;
    color       : #a19e9e;
}

.breadcrumb-reset .active {
    color      : #898686;
    font-weight: 400;
}

.breadcrumb-reset li a {
    margin-right: 4px;
    color       : #a19e9e;
}

.content-empty {
    min-height: calc(100vh - 388px);
}


.button-reset {
    background-color: #ba3d6b;
    color           : white;
    border-color    : #ba3d6b;
    font-weight     : 500;
}

.button-reset:hover {
    color  : white;
    opacity: 0.7;
}

.container-reset {
    max-width    : 1265px;
    width        : 100%;
    padding-right: 7.5px;
    padding-left : 7.5px;
    margin-right : auto;
    margin-left  : auto;
}

.btn-search {
    border-radius  : 50%;
    background     : #F7D9D6;
    color          : #2471A3;
    float          : right;
    width          : 40px;
    height         : 40px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border         : 4px;
}

.text {
    border     : none;
    background : none;
    outline    : none;
    float      : left;
    color      : #fff;
    font-size  : 16px;
    line-height: 40px;
    width      : 200px;
    padding    : 0 20px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.container-logo {
    position: absolute;
    top     : -53px;
}

.logo {
    width: 155px;
}

.content-link {
    width: 71%;
}

::placeholder {
    padding-left: 2px;
    color       : #ddd;
}


.footer-style {
    background-color: #282727;
}

.container-footer {
    max-width: 1380px;
}

.logo-footer {
    max-height: 175px;
    max-width : 100%;
}

.footer-style ol li {
    list-style : none;
    font-weight: 300;
    font-size  : 17px;
    margin-top : 5px;
}

.footer-style ol li b {
    font-weight: bold;
}

.li-width {
    max-width  : 250px;
    line-height: 26px;
}

.icon-footer {
    max-height: 52px;
}

.navbar-expand-lg .navbar-nav {
    font-weight: 500;
}

.social-icon-header {
    top  : -5px;
    right: 2%;
}

.social-icon-header img {
    max-height: 36px;
}

.social {
    display: none;
}

.nav-link {
    display: block;
    padding: .5rem 0rem;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color     : #fff !important;
    background: #fff !important;
}

.text-sm {
    font-size: 0.875rem !important;
}

.subtotal {
    font-weight: 600;
    font-size  : 17px !important;
}

.price {
    margin   : auto 0px;
    font-size: 15px !important;
}

.dropdown-menu {
    position        : absolute;
    top             : 100%;
    left            : 0;
    z-index         : 1000;
    display         : none;
    float           : left;
    min-width       : 10rem;
    padding         : 0.5rem 0;
    margin          : 0.125rem 0 0;
    font-size       : 1rem;
    color           : #212529;
    text-align      : left;
    list-style      : none;
    background-color: #ffffff;
    background-clip : padding-box;
    border          : 1px solid rgba(0, 0, 0, 0.15);
    border-radius   : 0.25rem;
    box-shadow      : 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu-lg {
    max-width: 400px;
    min-width: 360px;
    padding  : 0;
}

.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}

.dropdown-item {
    display         : block;
    width           : 100%;
    padding         : 0.25rem 1rem;
    clear           : both;
    font-weight     : 400;
    color           : #212529;
    text-align      : inherit;
    white-space     : nowrap;
    background-color: transparent;
    border          : 0;
}

.media {
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex-align: start;
    align-items   : flex-start;
}

.img-size-50 {
    width: 60px;
}

.img-circle {
    margin       : auto;
    border-radius: 20%;
}

.card-products-discount {
    background   : red;
    border-radius: 37px;
    position     : absolute;
    width        : 44px;
    top          : 12%;
    right        : 45px;
}

.card-products-discount p {
    color      : white;
    font-size  : 14px;
    font-weight: bold;
}

.card-products-discount p:first-child {
    margin-bottom: 0px;
    margin-top   : 3px;
}

.card-products-discount p:last-child {
    line-height  : 10px;
    margin-bottom: 11px;
}

.media-body {
    -ms-flex: 1;
    flex    : 1;
}

.dropdown-item-title {
    font-size    : 1rem;
    margin       : 0;
    white-space  : normal;
    margin-bottom: 5px
}

.dropdown-menu-lg p {
    margin     : 0;
    white-space: normal;
}


.dropdown-menu-lg p {
    margin     : 0;
    white-space: normal;
}

.fa-clock:before {
    content: "\f017";
}


.item {
    z-index: 100;
    padding: 5px;
}

.item img {
    width: 150px;
}

.circle {
    top             : -7px;
    right           : -1px;
    border-radius   : 50%;
    background-color: #e03553;
    width           : 25px;
    height          : 25px;
    position        : absolute;
    opacity         : 0;
    animation       : scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

.badge-count {
    position: absolute;
    top     : -4px;
    right   : 4px;
    z-index : 999;
}

.position-cart {
    max-width: 65px;
    margin   : auto;
}

.container-quanty {
    height   : 40px;
    max-width: 100px;
}

.container-quanty .minus-btn {
    border       : 1px solid #d4d2d2;
    border-right : 0px;
    border-radius: 10px 0px 0px 10px;
}

.container-quanty .minus-btn i {
    font-size: 12px;
}

.container-quanty input {
    border-left : 0px;
    border-right: 0px;
    height      : 40px;
}

.plus-btn {
    border       : 1px solid #d4d2d2;
    border-left  : 0px;
    border-radius: 0px 10px 10px 0px !important;
}

.plus-btn i {
    font-size: 12px;
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity  : .5;
    }

    to {
        transform: scale(1.8, 1.8);
        opacity  : 0;
    }
}

@media only screen and (min-width: 1220px) and (max-width: 1280px) {
    .ribbon-wrapper {
        left: 29px;
        top : -2px;

    }
}

@media only screen and (min-width: 1150px) and (max-width: 1219px) {
    .ribbon-wrapper {
        left: 20px;
        top : -2px;

    }
}

@media only screen and (min-width: 980px) and (max-width: 1150px) {
    .ribbon-wrapper {
        left: 8px;
        top : -2px;

    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .logo-footer {
        max-height: 115px;
        max-width : 100%;
    }

    .footer-style ol li {
        font-size: 16px;
    }

    .contact-footer {
        font-size: 24px !important;
    }

    .icon-footer {
        max-height: 45px;
    }

    .text {
        border     : none;
        background : none;
        outline    : none;
        float      : left;
        color      : #fff;
        font-size  : 16px;
        line-height: 40px;
        width      : 154px;
        padding    : 0 20px;
    }

    .content-empty {
        min-height: calc(100vh - 373px);
    }
}

@media (max-width: 990px) {
    .logo {
        width: 108px;
    }

    .social-icon-header {
        top  : -1px;
        right: 2%;
    }

    .social-icon-header img {
        max-height: 30px;
    }
}

@media only screen and (min-width: 811px) and (max-width: 979px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 767px) and (max-width: 979px) {
    .ribbon-wrapper {
        left: 1px;
        top : -2px;
    }

    .container-logo {
        position: absolute;
        top     : -13px;
        right   : 43%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 680px) {
    .ribbon-wrapper {
        left: 1px;
        top : -2px;
    }

    .container-logo {
        position: absolute;
        top     : -13px;
        right   : 40%;
    }
}

@media only screen and (min-width: 310px) and (max-width: 355px) {
    .ribbon-wrapper {
        left: 9px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 810px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .logo-footer {
        max-height   : 130px;
        margin-bottom: 2%;
        max-width    : 100%;
    }

    .footer-style ol li {
        font-size: 16px;
    }

    .contact-footer {
        font-size : 20px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }
}


@media only screen and (min-width: 420px) and (max-width: 575px) {
    .container-logo {
        position: absolute;
        top     : -17px;
        right   : 37%;
    }

    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .logo {
        width: 88px;
    }

    .logo-footer {
        max-height   : 100px;
        margin-bottom: 5%;
        max-width    : 100%;
    }

    .footer-responsive {
        width      : 205px;
        margin-left: 46px;
    }

    .footer-style ol li {
        font-size: 14px;
    }

    .contact-footer {
        font-size : 18px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }

    .col-products {
        position : relative;
        width    : 100%;
        max-width: 50%;
        padding  : 0px;
    }

    .title-products {
        font-size: 13px;
    }

    .price-old {
        font-size    : 17px;
        margin-bottom: 0px;
    }

    .price-new {
        font-size: 23px;
    }

    .ribbon-wrapper.ribbon-lg .ribbon {
        left : 0px !important;
        top  : 4px !important;
        width: 50px !important;
    }

    .ribbon-text {
        color        : white;
        margin-bottom: 0px;
        font-size    : 13px;
        font-weight  : bold;
    }

    .shadow-reset {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0) !important;

    }

    .icons-options {
        width : 35px !important;
        height: 35px !important;
    }

}

@media only screen and (min-width: 315px) and (max-width: 420px) {
    .logo {
        width: 78px;
    }

    .content-link {
        width     : 100%;
        text-align: center;
    }

    .content-headers {
        max-width: initial;
    }

    .search {
        margin: 0px auto;
    }

    .container-logo {
        position: absolute;
        top     : -10px;
        right   : 34%;
    }

    .logo-footer {
        max-height   : 100px;
        margin-bottom: 5%;
        max-width    : 100%;
    }

    .footer-responsive {
        width: 170px;
    }

    .col-products {
        position : relative;
        width    : 100%;
        max-width: 50%;
        padding  : 0px;
    }

    .title-products {
        font-size: 13px;
    }

    .price-old {
        font-size    : 17px;
        margin-bottom: 0px;
    }

    .price-new {
        font-size: 23px;
    }

    .ribbon-wrapper.ribbon-lg .ribbon {
        left : 0px !important;
        top  : 4px !important;
        width: 40px !important;
    }

    .ribbon-text {
        color        : white;
        margin-bottom: 0px;
        font-size    : 11px;
        font-weight  : bold;
    }

    .shadow-reset {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0) !important;

    }

    .icons-options {
        width : 35px !important;
        height: 35px !important;
    }



    .footer-style ol li {
        font-size: 14px;
    }

    .contact-footer {
        font-size : 18px;
        margin-top: 8px;
    }

    .icon-footer {
        max-height: 40px;
    }

    .dropdown-menu-lg {
        max-width: 381px;
        min-width: 300px;
        padding  : 0;
        left     : inherit;
        right    : -4px;
    }

}

@media(max-width: 575px) {
    .text {
        line-height: 30px;
    }

    .search {
        height: 30px;
    }

    .btn-search {
        width : 30px;
        height: 30px;
    }

    .social-icon-header {
        display: none;
    }

    .social {
        display : block;
        position: fixed;
        left    : 0;
        top     : 200px;
        z-index : 2000;
    }

    .social ul {
        list-style  : none;
        text-align  : center;
        padding-left: 0px;
    }

    .social ul li a {
        display           : inline-block;
        color             : #fff;
        background        : #000;
        padding           : 7px 10px;
        text-decoration   : none;
        -webkit-transition: all 500ms ease;
        -o-transition     : all 500ms ease;
        transition        : all 500ms ease;
        width             : 100%;
    }

    .social ul li .icon-facebook {
        background: #3b5998;
    }

    .social ul li .icon-instagram {
        background: #00abf0;
    }

    .social ul li .icon-youtube {
        background: #ae181f;
    }

    .social ul li .icon-mail {
        background: #666666;
    }

    .social ul li a:hover {
        background: #000;
        opacity   : 0.5;
    }

    .cart-icon {
        width : 38px;
        margin: 0px 2px;
    }

    .account {
        color    : #dc467b;
        font-size: 13px;
    }

    .ribbon-wrapper {
        height  : 70px;
        overflow: hidden;
        position: absolute;
        left    : 0px;
        top     : 0px;
        width   : 70px;
        z-index : 10;
    }
}

textarea {
    outline: beige !important;
}