/* Formulario */

input,
select {
    outline   : none;
    background: white;
}

.container-banner-form {
    position       : relative;
    display        : flex;
    justify-content: center;
}

.container-form {
    position     : absolute;
    top          : 88%;
    background   : white;
    width        : 64%;
    margin       : auto;
    border-radius: 4.2vw;
    padding      : 2.1% 2% 2% 2%;
    text-align   : center;
    color        : #164194;
}

.container-form h1 {
    font-size: 1.8vw;
}

.container-form h2 {
    font-size: 1.1vw;
}

.container-form .form {
    margin-top: 4.4%;
}

.container-form .form h3 {
    font-size: 1.2vw;
}

.container-form .form form {
    padding: 2%;
}

.container-form .form .col-6,
.container-form .form .col-12 {
    margin : 0.8% 0%;
    padding: 0% 0.7%;
}

.container-form .form .row input,
.container-form .form .row select {
    display      : block;
    width        : 100%;
    height       : 3.6vw;
    border-radius: 0.6vw;
    border       : 0.1vw solid #bbb0b052;
    padding      : .375% 3.35%;
    font-family  : "Montserrat",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial;
    font-size: 1vw;
    color    : #818EA8;
}

.container-form .form .row input:focus,
.container-form .form .row select:focus {
    border: 0.1vw solid #00C3FF;
    color : #164194;
}

.form-check-input {
    margin-left  : 0.6vw !important;
    margin-top   : 0.3vw;
    border       : 1px solid #164d84;
    border-radius: .25rem;
    transition   : border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.container-conditions {
    margin-top: 3%;
}

.btn-form {
    color           : #164194;
    background-color: #FFCE00;
    font-weight     : 600;
    padding         : 1vw;
    width           : 34%;
    border-radius   : 2.2vw;
    border          : 0.1vw solid transparent;
    font-size       : 1.1vw;
    margin-top      : 2%
}

.btn-form:hover {
    -webkit-box-shadow: 0px 0px 1.1vw 0.4vw rgba(255, 206, 0, 0.68);
    -moz-box-shadow   : 0px 0px 1.1vw 0.4vw rgba(255, 206, 0, 0.68);
    box-shadow        : 0px 0px 1.1vw 0.4vw rgba(255, 206, 0, 0.68);
    background-color  : #ffd10f;
    -webkit-transition: 0.4s ease-out;
    transition        : 0.4s ease-out;
}

.text-exeption {
    margin-top  : 5.4%;
    width       : 81%;
    margin-left : auto;
    margin-right: auto;
    font-size   : 1vw;
    color       : #94A4C3;
}

.min-container {
    min-height: 84vw;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invalid {
    width      : 100%;
    margin-top : .25vw;
    font-size  : 0.9vw;
    color      : #dc3545;
    font-weight: bold;
}

.valid {
    width      : 100%;
    margin-top : .25vw;
    font-size  : 0.9vw;
    color      : #28a745;
    font-weight: bold;
}

.input-is-invalid {
    border-color       : #dc3545 !important;
    background-image   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat  : no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size    : calc(.75em + .375rem) calc(.75em + .375rem)
}

.input-is-valid {
    border-color       : #28a745 !important;
    background-image   : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat  : no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size    : calc(.75em + .375rem) calc(.75em + .375rem)
}


@media (min-width: 481px) and (max-width: 767px) {
    .container-form {
        width  : 72%;
        padding: 3.6% 3% 3% 4%;
    }

    .container-form h1 {
        font-size: 2.1vw;
    }

    .container-form h2 {
        font-size: 1.4vw;
    }

    .container-form .form h3 {
        font-size: 1.5vw;
    }

    .container-form .form .row input,
    .container-form .form .row select {
        height       : 4.8vw;
        border-radius: 0.6vw;
        font-size    : 1.2vw;
    }

    .container-conditions {
        margin-top: 4%;
        font-size : 1.3vw;
    }

    .form-check-input {
        margin-left: 0.6vw !important;
        margin-top : -0.4vw;
        background : white;
        width      : 2.5%;
    }

    .btn-form {
        padding      : 1.3vw;
        width        : 40%;
        border-radius: 2.2vw;
        font-size    : 1.4vw;
    }

    .text-exeption {
        margin-top: 5.3%;
        width     : 84.8%;
        font-size : 1.3vw;
    }

    .min-container {
        min-height: 108vw;
    }

    .invalid,
    .valid {
        margin-top: 0.55vw;
        font-size : 1.1vw;
    }

}

@media (min-width: 310px) and (max-width: 480px) {
    .container-form {
        width  : 92%;
        padding: 3.6% 3% 3% 4%;
    }

    .container-form h1 {
        font-size: 3.1vw;
    }

    .container-form h2 {
        font-size: 2.4vw;
    }

    .container-form .form {
        margin-top: 4.4%;
    }

    .container-form .form h3 {
        font-size: 2.5vw;
    }

    .container-form .form .row input,
    .container-form .form .row select {
        height       : 7.6vw;
        border-radius: 1.5vw;
        font-size    : 2.2vw;
    }

    .container-conditions {
        margin-top: 5%;
        font-size : 2.5vw;
    }

    .form-check-input {
        margin-left: 0.6vw !important;
        margin-top : -0.4vw;
        background : white;
        width      : 2.8%;
    }

    .btn-form {
        padding: 2vw;
        width: 57%;
        border-radius: 3.6vw;
        font-size: 2.7vw;
    }

    .text-exeption {
        margin-top: 6.4%;
        width: 98.2%;
        font-size: 2.3vw;
    }

    .min-container {
        min-height: 149vw;
    }

    .invalid,
    .valid {
        margin-top: 0.85vw;
        font-size : 1.7vw;
    }
}