.card-text{
    top: 479px;
    left: 932px;
    width: 595px;
    height: 303px;
    }

.card-text{
    font-family: 'Montserrat';
    src        : url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
    font-size: 1.6vw;
    text-justify: left; 
    color: #164194;   
    padding-top: 7%;
    }

.card-title{
    font-family: 'Montserrat';
    src        : url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;    
    text-justify: left;
    }

.card-title{
    top: 393px;
    left: 931px;
    width: 490px;
    height: 45px;
    color: #164194;
    font-size: 1.9vw;
    }

.card-img{
    top: 304px;
    left: 303px;
    width: 523px;
    height: 400px;
    }

.card-body{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-top: 2.5cm;      
    }

.img-left{
    margin-left: 3cm;
}

.texto-left{
    margin-left: 4.5cm;  
}

.text-red{
    color: rgb(201, 11, 11);
}

.mb-3 {
   height: 280px;  
}

.final-div{
    padding-bottom: 27%;
}

.img-right{
   display: block;
   margin-left: -1.6cm;
 }

 .btn-bene {
    color           : #FFFF;
    background-color: hsl(0, 91%, 41%);
    font-weight     : 600;
    padding         : 0.7vw;
    width           : 13%;
    border-radius   : 2.2vw;
    border          : 0.1vw solid transparent;
    font-size       : 0.8vw;    
}